In [ ]:
# 14-Aug-24
# Dictionary

In [1]:
d = {101:"Apple",102:"Banana",103:"Cat",104:"Dog"}

In [2]:
d

{101: 'Apple', 102: 'Banana', 103: 'Cat', 104: 'Dog'}

In [3]:
#Get

d.get(101)

'Apple'

In [4]:
#Get
d.get("Apple")

In [5]:
d.keys()

dict_keys([101, 102, 103, 104])

In [6]:
d.values()

dict_values(['Apple', 'Banana', 'Cat', 'Dog'])

In [7]:
#pop key required!
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [9]:
#pop key required!
d.pop(101)
d

{102: 'Banana', 103: 'Cat', 104: 'Dog'}

In [10]:
d.popitem() # remove last key value pair from dict.

(104, 'Dog')

In [11]:
d

{102: 'Banana', 103: 'Cat'}

In [12]:
d1 = {201:"A",202:"B",203:"C",204:"D"}
d.update(d1)  # add a new dict in an dict at the end.
d

{102: 'Banana', 103: 'Cat', 201: 'A', 202: 'B', 203: 'C', 204: 'D'}

In [13]:
for i in d:
    print(i)

102
103
201
202
203
204

In [15]:
for i in d.values():
    print(i)

Banana
Cat
A
B
C
D

In [16]:
for i in d:
    print(i,d[i]) # another way to print values.

102 Banana
103 Cat
201 A
202 B
203 C
204 D

In [17]:
d[101] = "Big Apple"
d

{102: 'Banana',
 103: 'Cat',
 201: 'A',
 202: 'B',
 203: 'C',
 204: 'D',
 101: 'Big Apple'}

In [21]:
d2 = d.fromkeys(d.keys())  # creates a new dict from existing dict with keys. Values will be set to None.
d2

{102: None, 103: None, 201: None, 202: None, 203: None, 204: None, 101: None}

In [27]:
# print key and its cube based on user input.
d={}
n = int(input("Enter N : "))

for i in range(1,n+1):
    d[i] = i**3

d

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}