In [ ]:
# Tuple
# is a list of mixed(int,str) datatype objects.
# have () brackets
# is imutable however they can contain mutable objects: (Loop-hole)
# can not change the inside objects in run time.
# objects of tuple can be reversed.

In [7]:
# Checking if an Item Exists in the Tuple:
# Use the in keyword to check if an item exists in the tuple:

colors = ('red', 'orange', 'blue')
print('yellow' in colors)
print('red' in colors)

False
True

In [8]:
# Iterating Through a Tuple:
# Use a for loop to iterate over tuple items:

fruits = ('apple', 'banana', 'orange')
for fruit in fruits:
    print(fruit)

apple
banana
orange

In [9]:
# Tuple Length:
# Use the len() function to find the number of items in a tuple:

cars = ('BMW', 'Tesla', 'Ford', 'Toyota')
print('Total Items:', len(cars))

Total Items: 4

In [1]:
# Converting a List to a Tuple:
# You can convert a list to a tuple using the tuple() constructor:

my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print(my_tuple)

(10, 20, 30)

In [2]:
# Finding the Maximum and Minimum Values:
# Use max() and min() functions to find the maximum and minimum values in a tuple

temperatures = (25, 30, 18, 22)
print('Max Temp:', max(temperatures))
print('Min Temp:', min(temperatures))

Max Temp: 30
Min Temp: 18

In [3]:
# Slicing Tuples:
# Extract a portion of a tuple using slicing:

numbers = (1, 2, 3, 4, 5)
sliced_numbers = numbers[1:4]
print(sliced_numbers)

(2, 3, 4)

In [5]:
# Repeating Tuples:
# You can repeat a tuple using the * operator:

repeated_tuple = ('hello',) * 3
print(repeated_tuple)

('hello', 'hello', 'hello')

In [6]:
# Concatenating Tuples:
# You can concatenate two or more tuples using the + operator:

tuple1 = (1, 2)
tuple2 = ('a', 'b')
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 'a', 'b')

In [3]:
# count & index functions

t = (1,2,1.1,2.2,'Akash',True,'python',10,20,1,2)
print(t.count(1)) # True is also considered as 1.
print(t.index('Akash')) # gives index of inserted object if available in tuple.

3

In [ ]:
# Loop holes of tuple

In [12]:
# tuple is imutable however they can contain mutable objects: (Loop-hole)

tup = (1,2,1.1,2.2,'Akash',True,'python',[10,20,30],20,1,2)
print(tup)
print(tup[7])
tup[7].append(40) #loop-hole of tuple. inside list is mutable.
print(tup)

(1, 2, 1.1, 2.2, 'Akash', True, 'python', [10, 20, 30], 20, 1, 2)
[10, 20, 30]
(1, 2, 1.1, 2.2, 'Akash', True, 'python', [10, 20, 30, 40], 20, 1, 2)

In [16]:
# reversing Tuples:

numbers = (1, 2, 3, 4, 5)
print(numbers)
numbers = numbers[::-1]
print(numbers) # reversed

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

In [19]:
# modify objects of tuple.
# You can convert a list to a tuple using the tuple() constructor:

tup = (10, 20, 30)
print(tup)
my_list = list(tup)
my_list.append(40)
tup = tuple(my_list)
print(tup)

(10, 20, 30)
(10, 20, 30, 40)